
<h2><%= pluralize(@user.books.count, "book") %> in My Reading Queue</h2>

<%= @user.name %>
<%= @user.email %>


<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Author</th>
  </tr>
  
  <% unless @books.empty? %>
    <% @books.each  do |b| %>
      <tr>
        <td><%= link_to b.title, b %><td>
        <td><%= b.author_last %><tr>
      <tr>
    <% end %>
  <% end %>
  
</table>
				
<%= link_to "Add Book!", new_book_path %>

