

<h2><%= pluralize(@user.books.count, "book") %> in My Reading Queue</h2>

<%= @user.name %>
<%= @user.email %>


<%= form_for(:search, :url =>search_path, :method=>:get) do |f| %>

	<legend>Search</legend>

	<%= f.text_field :q, :class=>"text_field", :placeholder => "search by title or author" %>
	<input type="submit" class=btn btn-primary" value="search">
	
<% end %>
			
       

<ul class="thumbnails">
        
  <% unless @books.empty? %>
    <% @books.each do |b| %>

      <li>
        <a href="#"><%= image_tag b.cover_url %></a>
      </li>
      
    <% end %>
  <% end %>
        
</ul>
		
<%= link_to "Add Book!", new_book_path %>

