<div class="row" id="main-content">
	<div class="span8" id="sidebar">
		<div class="well">
			<%= form_for @user do |f| %>
			
				<%= render 'shared/error_messages' %>
				
				<div class="controls">
					<%= f.text_field :name, :class=>"text_field", :placeholder => "Name" %>
				</div>
			
				<div class="controls">
					<%= f.text_field :email, :class=>"text_field", :placeholder => "Email"%>
				</div>
			
				<div class="controls">
					<%= f.password_field :password, :class=>"text_field", :placeholder=>"Password" %>
				</div>
			
				<div class="controls">
					<%= f.password_field :password_confirmation, :class=>"text_field", :placeholder=>"Password Confirmation" %>
				</div>
			
				<div class="actions">
					<%= f.submit "Sign up" %>
					<%= link_to "Cancel", root_path, :class=>'btn' %>
				</div>
			<% end %>
		</div>
	</div>
</div>

