<!DOCTYPE html>
<html>
<head>
  <title>BookSmart | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Put up the navigation bar here -->
<div class="navbar">
  <div class="navbar-inner">
    <div class="brand">BookSmart</div>
    <ul class="nav">
      
      
      <% if signed_in? %>
        <li><%= link_to "My Books", user_path(current_user)  %></li>
      	<li><%= link_to "Account Settings", edit_user_path(current_user)  %></li>
      	<li><%= link_to "Contact", contact_path %></li>
      	<li><%= link_to "Log out", signout_path, :method => :delete %></li>
      	
      <% else %>
        <li> <%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      	<li><%= link_to "Sign up!", signup_path %></li>
      <% end %>

    </ul>
  </div>
</div>

<div class="container">

	<section>
		<% flash.each do | key, value | %>
			<div class="alert alert-<%=key%>"><%= value %></div>
		<% end %>
	</section>
  <%= yield %>
</div>

<div>
	<%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
